<?xml version="1.0" ?>
<model>
    <name>desk</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Adam Li</name>
        <email>lia4@rpi.edu</email>
    </author>
    <description>A generic box representation of a 1 x 2 x 0.9m desk for the Project 1 Room definition.</description>
</model>
