<?xml version="1.0" ?>
<launch>
    <arg name="robotname" default="forma3"/>
    <arg name="x" default="2"/>
    <arg name="y" default="2"/>
    <!-- This file sets up and launches the core components for the simulation of the robot -->
    <include file="$(find forma3_description)/launch/forma3_spawn.launch">
        <arg name="forma3_ns" value="$(arg robotname)"/>
        <arg name="robotname" value="$(arg robotname)"/>
        <arg name="x" default="$(arg x)"/>
        <arg name="y" default="$(arg y)"/>
    </include>
    <!-- Add some simulated sensors -->
    <include file="$(find forma3_description)/launch/forma3_ex_sensors.launch">
        <arg name="forma3_ns" value="$(arg robotname)"/>
    </include>
    <!-- Add the information services -->
    <include file="$(find forma3_description)/launch/forma3_ex_services.launch">
        <arg name="forma3_ns" value="$(arg robotname)"/>
    </include>
    <!-- Export the control middleman -->
    <include file="$(find forma3_description)/launch/forma3_ex_cmdvel.launch">
        <arg name="forma3_ns" value="$(arg robotname)"/>
    </include>
</launch>
