<?xml version="1.0" ?>
<model>
    <name>seat</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Adam Li</name>
        <email>lia4@rpi.edu</email>
    </author>
    <description>A generic cylinder representation of a chair with radius 0.25m and height 0.4m for the Project 1 Room definition.</description>
</model>
