<?xml version="1.0" ?>
<model>
    <name>support_column</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Adam Li</name>
        <email>lia4@rpi.edu</email>
    </author>
    <description>A generic cylinder representation of a radius 0.5m 1.5m high support column for the Project 1 Room definition.</description>
</model>
