<?xml version="1.0" ?>
<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- disable the graphical client for vm's with limited graphical memory -->
    <arg name="gui" value="false"/>
  </include>
</launch>
