<?xml version="1.0" ?>
<model>
    <name>room_wall</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Adam Li</name>
        <email>lia4@rpi.edu</email>
    </author>
    <description>A generic 10 x 0.4 x 4m wall for the Project 1 Room definition.</description>
</model>
